.App
    color: white
    padding: 20px

@media (min-width: 768px)
    .App
        display: flex
        


    .welcome
        width: 50%
        position: fixed
        

    .content
        width: 50%
        position: absolute
        right: 0
    
    .line:first-of-type
        right: 50px