.App
    color: white
    padding: 20px

@media (min-width: 768px)
    .App
        display: flex
        


    .welcome
        width: 50%
        position: fixed
        

    .content
        width: 50%
        position: absolute
        right: 0
    
    .line:first-of-type
        right: 50px
    
    .highlight-element
        position: relative
        top: 150px
        left: 270px

    .highlight-element.active
        color: #ff5722
        font-weight: bold
        transform: scale(1.1)
        text-shadow: 0 0 10px rgba(255, 87, 34, 0.6)
